.el-collapse-item__header{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.el-collapse-item__content{
    font-size: 16px;
    line-height: 38px;
}
.el-table th>.cell{
    text-align: center;
}
.el-input__icon+.el-input__inner{
    text-align: center;
}
.Little_Font{
    margin-left: 10px;
    font-size:12px;
    font-weight:normal;
}
.el-input__inner{
    border: none;
    text-align: center;
}
.el-upload--text{
    border: none;
}
.el-row {
    margin-bottom: 20px;

}

.el-col{
    border:thin solid #99a9bf;
}
.flex div{
    display: flex;
    flex-direction: row;
    height: 37px;
}

.center-hr{
    text-align: center;
}
.right-hr{
    text-align: right;
}

.bg-purple-dark {
    background: #99a9bf;
}
.bg-blue {
    background: #EEF1F6;
}
.bg-white {
    background: #fff;
}
.grid-content {
    min-height: 36px;
    text-indent: 1em;
}
.row-bg {
    padding: 10px 0;
    background-color: #EEF1F6;
}
.el-table .cell, .el-table th>div{
    padding: auto;
}
